<div class="container">
  <!-- task-create.component.html -->

  <h2>Update New Task</h2>
  <form (ngSubmit)="updateTask()">
    <div class="form-group">
      <label>Task Type:</label>
      <div>{{ task?.taskType?.name }}</div>
      <select [(ngModel)]="task.taskType" name="taskType" required>
        <option *ngFor="let type of taskTypes" [ngValue]="type">
          {{ type.name }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label>Description:</label>
      <textarea [(ngModel)]="task.description" rows="5" name="description" required></textarea>
    </div>
    <div class="SpecificFields">
      <div *ngFor="let field of task?.specificFields | keyvalue" class="SpecificFieldsData">
        <div>
          <label>Field Name</label>
          <br>
          <input [(ngModel)]="field.key" [name]="'fieldName-' + field.key" />
        </div>
        <span>
          <label>Field Value</label>
          <br>
          <input [(ngModel)]="field.value" [name]="'fieldValue-' + field.key" />
        </span>
      </div>
    </div>
    <div class="divCardBtn">
      <button type="submit" class="creatBtn">Create Task</button>
    </div>
  </form>
</div>
